
.img-grayscale{
    filter: grayscale(1);
    transition: filter 1s ease;
}

/* on hover */
.mobile-nav:hover img,
.project:hover img,
.document-view:hover img,
.user:hover .img-grayscale{
    filter: grayscale(0);
}

/* hover on any a tag */
a:hover:not(.contact-item){
    color: var(---grey);
    padding-left: 10px;
}

.contacts .contact-item:hover,
.textcontainer p:hover{
    color: var(---active);
}

.contacts .contact-item:hover p{
    letter-spacing: 2px;
}

.content-info:hover img{
    filter: grayscale(0);
}

.project:hover .project-about{
    color: var(--dark);
}

.mobile-nav a:hover{
    padding-right: 20px;
}

/* animations with js */
.faded {
    opacity: 0;
    transform: translateY(-100px);
    transition: opacity 1s ease, transform 1s ease;
}

.faded.visible{
    opacity: 1;
    transform: translateY(0px);
}

.scale{
    letter-spacing: 2px;
    transition: letter-spacing 1s ease-in-out;
}

.scale.visible{
    letter-spacing: normal;
}